:root {
  --cor-primary: #fdb91a;
  --cor-secondary: #d58234;
  --cor-text: #d3d4d5;
  --cor-gray-bg: #08b1db;
}

.cor-primary {
  color: var(--cor-primary);
}

.cor-secondary {
  color: var(--cor-secondary);
}

.cor-text {
  color: var(--cor-text);
}

.cor-gray-bg {
  background-color: var(--cor-gray-bg);
}
