form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 34px;


  .icon{
    height: 24px;
}

  span{
    font-size: 14px;
    text-decoration: underline;
    color: #3a3c55;
    text-align: end;
    cursor: pointer;
  }
}
